[DEFAULT]
twitch_username=thisismytwitchusername
# GET YOUR OAUTH TOKEN FROM https://twitchapps.com/tmi/
oauth_token=oauth:abcdefghijk0123456789012345678
ignore_user=streamlabs
logfile=true
playback_speed=1.0
languages=all,en,de,fr,es
